/* Here make a global style like header, text size  */
*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  height: 100%;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.header {
  width: 100%;
  height: auto;
}

/* implement nav into home and blog page  */
.nav {
  width: 100%;
  padding: 15px;
}

.nav-list {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.nav-list .title {
  text-decoration: underline;
  font-size: 2.2rem;
}

.nav-list .subscribe {
  color: #c2c6c9;
  font-size: 2.2rem;
}

.nav-list .search-icon {
  color: #c2c6c9;
  font-size: 2.2rem;
}

footer {
  height: auto;
  background: #1d78c2;
  margin: 30px 0 0 0;
  padding: 20px;
  width: 100%;
  padding: 40px;
  position: relative;
}
footer h6 {
  color: #ffffff;
  text-align: center;
}
footer a {
  text-align: center;
  color: #bbdefb;
  position: absolute;
  left: 0;
  right: 0;
}

a {
  text-decoration: none;
}

/* Media query */
/* Tablet device */
@media (max-width: 600px) {
  .container {
    width: 90%;
    height: 100%;
  }
  .header {
    width: 100%;
    padding: 5px;
  }
  .nav {
    width: 100%;
    padding: 5px;
  }

  .nav-list {
    width: 100%;
  }

  .nav-list .title {
    font-size: 1.5rem;
  }

  .nav-list .subscribe {
    font-size: 1.3rem;
  }
  .nav-list .search-icon {
    font-size: 1.1rem;
  }
  footer {
    width: 100%;
  }
}
/* mobiles  */
@media (max-width: 460px) {
  .header {
    width: 100%;
  }

  .nav-list {
    flex-direction: row;
  }

  .nav-list .title {
    font-size: 0.9rem;
  }

  .nav-list .subscribe {
    font-size: 0.9rem;
  }
  .nav-list .search-icon {
    font-size: 0.9rem;
  }
  footer {
    margin: 20px 0 0 0;
    height: auto;
    width: 100%;
  }
}
